<div class="container">
        
            <h3 class="text-center mb-4">Add Product</h3>
            <div>
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <div></div>
                    <input type="text" [(ngModel)]="newProduct.name" placeholder="Enter Product Name">
                </div>
                <div></div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Price (BDT)</label>
                    <div></div>
                    <input type="number" [(ngModel)]="newProduct.price" placeholder="Enter Prodcut Price">
                </div>
                <div></div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Product Catagory</label>
                    <div></div>
                    <input type="text" [(ngModel)]="newProduct.description" placeholder="Enter Product Catagory">
                </div>
                <div></div>
                <div class="mb-3">
                    <label for="productStock" class="form-label">Stock</label>
                    <div></div>
                    <input type="text" [(ngModel)]="newProduct.stock" placeholder="Enter Stock">
                </div>
                <div></div>
                <div class="mb-3">
                    <button (click)="addProduct()">Add</button>
                </div>
            </div>
            
</div>