<div class="container">
  <div >
    <button *ngIf="isAdmin" class="btn btn-primary" style="margin: 5px;" (click)="goToAddProduct()">Add Product</button>
  </div>
  <div></div>
    <h2>Product List</h2>
    <!-- নতুন প্রোডাক্ট যোগ করার ফর্ম -->
  <!-- <h3>Add New Product</h3>
    <input type="text" [(ngModel)]="newProduct.name" placeholder="Product Name">
    <input type="number" [(ngModel)]="newProduct.price" placeholder="Price">
  <button (click)="addProduct()">Add</button> -->

  <!-- আপডেট ফর্ম 
  <div *ngIf="selectedProduct">
    <h3>Edit Product</h3>
    <input type="text" [(ngModel)]="selectedProduct.name">
    <input type="number" [(ngModel)]="selectedProduct.price">
    <button (click)="updateProduct()">Update</button>
    <button (click)="selectedProduct = null">Cancel</button>
  </div> -->
    <table class="table">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Stock</th>
            <th *ngIf="isAdmin" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <!-- <td>{{ product.id }}</td> -->
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.stock }}</td>
          <td class="text-center">
            <button *ngIf="isAdmin" class="btn btn-danger" style="margin: 5px;" (click)="deleteProduct(product.id)">Delete</button>
            <button *ngIf="isAdmin" class="btn btn-warning" (click)="editProduct(product)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
